.main-conatainer{
  width: 100%;
  height: 100%;
  display: grid;
  place-content: center;
}

.forgot-password,
.signin-container,
.signup-container{
  width: 90dvw;
  height: 90vh;
  max-width: 1128px;
  min-width: 1128px;
  min-height: 760px;
  position: relative;
}
.forgot-password,
.signin-container,
.signup-container{
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.forgot-password .left-side,
.signin-container .left-side,
.signup-container .left-side{
  width: 100%;
  height: 100%;
  padding: .2rem 4.4rem;
  
}
.forgot-password .left-side,
.signin-container .left-side,
.signup-container .left-side{
  display: flex;
  flex-direction: column;
  justify-content: space-between; 
}

.signin-container .left-side{
  justify-content: center;  
}

.right-side{
  height: 100%;
  width: 100%;
}
.otp-modale-container{
  position: absolute;
}

@media (max-width: 800px) {
  /* … */
  .forgot-password,
  .signin-container{
    display: grid;
    grid-template-columns: auto;
    grid-template-rows: 800px auto;
    margin: 0 auto;
    min-width: 300px;
    min-height: 800px;
  }
}
