:root{
    --pc: #13446C;  /*Primary color*/
    --sc: #D23736; /*secondary color*/
    --ec: #FF3333; /*secondary color*/
    --ic: #909090; /*Icon color*/
    --ic-2:#BBBBBB;
    --ich: #000000;
    --vc: #33cc33;
    --bc:hsl(0, 0%, 86%); 
    --tcw:#ffffff;  /*Text color wite*/
    --tcr:#DBDBDB; /*text color */
    --subtc:#999999; /* subtitle color*/
    --lc:  #A2A2A2; /*Line color*/
    --hbb: #1F4A6D; 
    

    /* Font family */

    --font-g: "Roboto", sans-serif;
    --font-t: "Roboto Slab", serif;

    /* Font size */
    --tf: 3rem;
    --stf: 1.6rem;
    --tnf: 1.4rem;
    --trc: 1.6rem;
    --phf: 1.4rem;
    --ifs: 2.2rem;
    --lf: 1.2rem;
    --tpt: 1.6rem;

    /* Box shadowns */

    --bnt-shadown: 0 2px 6px rgba(0, 0, 0, 0.2);
  
}

html {
    box-sizing: border-box;
    font-size: 62.5%; /* 1 rem es = a 10px*/
}
*,
*:before,
*:after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}
body{
    font-family: var(--font-g);
}

#root{
    background-color: white;
    height: 100dvh;
    overflow:hidden ;
    margin: 0 auto;
}

.z-bottom{
    z-index: 10;
}
.z-top{
    z-index: 20;
}
.z-back{
    z-index: 15;
}
.z-modale{
    z-index: 500;
}
.active-error{
    color: var(--ec);
}
.icon{
    font-size: 1.6rem;
    color: var(--ic);
}
a{
    text-decoration: none;
}
.svg-inline--fa{
    font-size: var(--ifs);
}
.profile-img{
    width: 4.8rem;
    height:4.8rem;
    border-radius: 1rem;
    object-fit: fill;
}