.forgot-password .left-side{
    justify-content: space-between;
}
.forgotPassword-container{
    height: 100%;
    display: block;
    align-content: center;
}
.forgotPassword-content{
    height: 56%;
    display: flex;
    flex-direction: column;
    row-gap: 2.8rem;
}
.forgot-header-text{
    text-align: start;
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}
.forgot-header-text h1{
    color: var(--pc);
    font-size: var(--tf);
    font-family: var(--font-t);
    font-weight: 400;
}
.forgot-header-text p{
    color: var(--subtc);
    font-size: var(--stf);
}
.forgot-form .input-container{
    row-gap: 2.8rem;
}
.buttom-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 1.6rem;
}
.return-login{
    font-size: var(--tnf);
    cursor: pointer;
}