.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 3rem;
}
.form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 2.4rem;
}

