.password-form{
    height: 100%;
    display: grid;
    align-items: top;
    row-gap: 1.8rem;
}
.password-form .input-container{
    display: flex;
    flex-direction: column;
    row-gap: 1.8rem;
}
.password-container{
    display: grid;
    grid-template-rows: min-content auto;
    row-gap: 3rem;
}
.password-form .btn-container{
    align-self: center;
    height: 100%;

}
.validation-conatiner .password-strength{
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}
.password-strength span{
    font-size: var(--tnf);
}
.password-form .input-label{
    /* background-color: aqua; */
    top: 0;
}