.form-container{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    row-gap: 3rem;
}
.form-input-container{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    row-gap: 3.2rem;
}

.input-content{
    width: 100%;
    height: 100%;
}
.input-content{
    display: flex;
    flex-direction: column;
    position: relative;
}
.input-label{
    position: absolute;
    background-color: white;
    padding: 0 .8rem;
    top: -.8rem;
    left: 2rem;
}
.input-label label{
    font-size: var(--lf);
}
.icon-content{
    position: absolute;
    left: 1.6rem;
}
.input-inp{
    height: 100%;
    display: flex;
    align-items: center;
    column-gap: .8rem;
}
.checkbox-content #inputCheck{
    width: 1.4rem;
    height: 1.4rem;
}
.signup-error-messages{
    height: 3rem;
   width: 100%;
   position: relative;
}
.signup-error-messages .error-notices{
    position: absolute;
    top: -1rem;
}