.header-container{
    grid-column: 1/8;
    width: 100%;
    height: 100%;
    align-self: center;
    justify-self: center;
}
.header-content{
    width: 100%;
    height: 100%;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    align-items: center;
    padding: 0 .8rem;
}
.header-logo img{
    width: 12rem;
}
.header-user-info-panel{
    width: auto;
    justify-self: flex-end;
}
.header-user-info-panel{
    grid-column: 5/8;
    display: grid;
    grid-template-columns: auto auto auto auto;
    align-items: center;
    justify-items: center;
    column-gap: 2rem;
    padding: 0 .8rem;
}
.notifications-icon{
    position: relative;
}
.fa-bell{
    color: var(--ic);
    cursor: pointer;
    transition: color  0.3s ease-in-out;
}
.fa-bell:hover{
    color: var(--pc);
}
.notifications-count{
    position: absolute;
    top: -.2rem;
    right: -.6rem;
    background-color: var(--ic-2);
    width: 68%;
    height: 68%;
    color: aliceblue;
    border-radius: 50%;
}
.notifications-count {
    display: grid;
    place-content: center;
}
.counter{
    font-size: 1rem;
}
.separation-line-container{
    height: 8rem;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
}
.separation-line-container .line{
    width: .2rem;
    height: 60%;
    background-color: var(--lc);
    border-radius: 1rem;
}
.user-data-content{
    width: 100%;
    display: flex;
    align-items: center;
    column-gap: 1.8rem;
}
.profile-picture{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.user-data{
    width: 100%;
}
.user-data h3{
    font-size: var(--tpt);
    font-weight: 400;
    font-family: var(--font-t);
}
.user-data span{
    color: var(--subtc);
    font-size: var(--tnf);
}
.settings-arrow-modal{
    color: var(--ic);
    font-size: 2rem;
    cursor: pointer;
}
.settings-arrow-modal:hover{
    color: var(--pc);
}
.arrow-icon-content{
    position: relative;
}
.user-settings-modal{
    width: auto;
    height: auto;
    position: absolute;
    left: -22rem;
    top: 4.4rem;
    border-radius: var(--bbn);
    padding: 1.8rem 1.4rem;
    box-shadow: var(--card-shadown);
    opacity: 0;
    visibility: hidden;
    z-index: -1;
    transition: opacity 0.3s ease, visibility 0s 0.3s;
    background-color: white;
}
.user-settings-modal.openModal{
    visibility: visible;
    opacity: 1;
    z-index: 50;
    transition-delay: 0s;
}
.user-settings-content:nth-child(1){
    margin-top: 0;
    background-color: transparent;
}
.user-settings-content{
    display: grid;
    grid-template-columns: 20% 70%;
    align-items: center;
    justify-items: center;
    column-gap: 1rem;
    padding: 1.2rem 1.6rem 1.2rem .2rem;
    transition: background-color 0.3s ease;
    cursor: pointer;
    border-radius: .6rem;
}
.user-settings-content:hover {
    background-color: var(--pc);
    color: white; 
}
.user-settings-link{
    justify-self: start;
    width: 16rem;
    font-size: var(--tnf);
}
.icons
.icons-settings{
    font-size: 1.6rem;
}
