.panel-menu {
    height: auto;
    grid-column: 1/3;
    grid-row: 1/2;
    display: flex;
    flex-direction: column;
}

.panel-menu ul {
    display: flex;
    align-items: center;
    column-gap: 3rem;
}

.panel-menu ul li span {
    font-size: var(--tm);
    color: var(--subtc);
    cursor: pointer;
}

.line-menu {
    height: 100%;
    width: 100%;
    position: relative;
}

.left-panel-items {
    display: grid;
    grid-template-rows: 28% auto;
    row-gap: 1.8rem;
}

.right-panel-items {
    height: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr auto;
    row-gap: 1.8rem;
}

.card-panel {
    width: 100%;
    height: 100%;
    background-color: var(--cpc);
    border-radius: 1.6rem;
    box-shadow: 0 4px 12px 0px rgba(0, 0, 0, 0.25);
    padding: 1.8rem 2.2rem;
}

.panel-insurance-overview {
    display: grid;
    grid-template-rows: 50% 1fr;
    align-items: center;
}

.panel-header {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.panel-header-details {
    display: flex;
    align-items: center;
    column-gap: 1.6rem;
}

.panel-header-icon-content {
    width: 4rem;
    height: 4rem;
    background-color: var(--pc);
    border-radius: .8rem;
    display: grid;
    place-content: center;
}

.icon-dashboard {
    color: white;
}

.panel-header-title h4 {
    font-size: var(--stf);
    font-family: var(--font-t);
    font-weight: 450;
}

.file-icon {
    color: var(--ic-3);
}

.panel-header-right .date-insurance-overview {
    font-size: var(--tnf);
    color: var(--subtc);
}

.panel-header-right p span {
    color: black;
    font-weight: 450;
}

.menu-line {
    width: 25%;
    height: .4rem;
}

.transaction-panel-container {
    display: grid;
    grid-template-rows: .4fr 8% 1fr;
    row-gap: 1.6rem;
    overflow: hidden;
}

.car-icon,
.money-bill-icon,
.coin-icon {
    color: var(--tcw);
}

.right-arrow-icon{
    font-size: 1.6rem;
    cursor: pointer;
    font-weight: 500;
}

.panel-header-right {
    height: 100%;
    width: auto;
    display: flex;
    align-items: center;
}
.download-box-content{
    background-color: var(--pc);
    width: 4rem;
    height: 4rem;
    border-radius: .8rem;
    display: grid;
    place-content: center;
}

.panel-header-right .dowload-icon {
    cursor: pointer;
    transition: color .3s ease;
    color: white;
}

.panel-header-right .dowload-icon:hover {
    color: var(--pc);
}

.transactions-navbar {
    height: 100%;
    display: flex;
    flex-direction: column;
}

.payments-navbar-menu {
    font-size: var(--tmp);
}

.payments-navbar-menu span {
    margin-right: 2.8rem;
    padding-left: .8rem;
    cursor: pointer;
}

.payments-navbar-menu span:nth-child(2) {
    margin-left: 1.4rem;
}

.transactions-navbar .line-menu {
    position: relative;
    width: 32%;
    display: flex;
    align-items: center;
    column-gap: .8rem;
}

.line-menu .line {
    height: .2rem;
    background-color: var(--pc);
    width: 100%;
    opacity: 0;
}

.line-menu .line.active {
    height: .2rem;
    background-color: var(--pc);
    opacity: 1;
}

.payment-history-table table {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.payment-history-table {
    width: 100%;
    border-collapse: collapse;
    display: block;
    overflow-x: auto;
    white-space: nowrap;
}

.payment-history-table thead {
    display: table;
    width: 100%;
    table-layout: fixed;
    position: sticky;
    top: 0;
}

.payment-history-table tbody {
    display: table;
    width: 100%;
    table-layout: fixed;
    overflow-x: auto;
}

.payment-history-table th,
.payment-history-table td {
    padding: 8px;
    border-bottom: 1px solid #ddd;
    text-align: center;
}

.payment-history-table th {
    text-align: center;
    font-size: 1.4rem;
    background-color: white;
    color: var(--pc);
}

.payment-history-table th:first-child,
.payment-history-table td:first-child {
    width: 30px;
}

.payment-history-table tr:hover {
    background-color: #f5f5f5;
}

.payment-history-table .icon {
    color: var(--pc);
    cursor: pointer;
}

.payment-history-table td {
    font-size: 1.6rem;
}

.panel-next-payment {
    display: grid;
    grid-template-rows: 24% 1fr auto;
    row-gap: .8rem;
}

.draw-main-container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 1fr 1fr;
}

.draw-details {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100%;
}

.draw-data {
    display: flex;
    flex-direction: column;
    row-gap: .8rem;
}

.draw-data h4 {
    font-size: var(--ivf);
}

.draw-data span {
    font-size: var(--tnf);
}

.draw-right-data span {
    background-color: var(--bc);
    padding: .6rem .6rem;
    font-size: 1.2rem;
    border-radius: var(--bbn);
}

.panel-insurance-coverage {
    display: grid;
    grid-template-rows: 26% auto;
    row-gap: 1rem;
}

.insurance-coverage-content,
.insurance-coverage-content ul {
    width: 100%;
    height: 100%;
}

.insurance-coverage-content ul {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.insurance-coverage-content ul li {
    display: grid;
    grid-template-columns: .5fr 1fr;
    align-items: center;
}

.insurance-coverage-content ul li p {
    margin: 0;
    display: flex;
    flex-direction: column;
    font-size: 1.2rem;
    font-weight: 600;
    opacity: .5;
}

.insurance-coverage-content ul li span {
    font-size: 1.4rem;
    font-weight: 500;
}